#faq,#podmienky{
	margin-top: 5rem;
	h1{
		color:$orange;
		margin-bottom: 1rem;
	}
	p{
		margin-bottom: .5rem;
	}
	button{
		border: none;
		background-color: transparent;
		color: $orange;
		font-size: 20px;
		font-weight: 700;
	}
	.show{
		width: unset!important;
	}
}