#profil{
	background-repeat: no-repeat;
	margin-top: 4rem;
	background-position: 100% -3rem;
	h1{
		text-transform: uppercase;
	}
	.light{
		color: $gray-550;
		font-weight: 500;
	}
	a{
		i{
			font-size: 30px;
		}
	}
	.btn-primary{
		font-weight: 800;
	}
	h3{
		color: $orange;
	}
}

